.hidden {
  display: none;
}

.container {
  margin: auto;
}

.title {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.bigAvatar {
  margin: auto;
  width: 120px;
  height: 120px;
  border-color: #3f51b5;
  border-style: solid;
  border-width: 1px;
}

.avatarThumb {
  max-width: 120px;
  max-height: 120px;
}

.primaryBack {
  background: #3f51b5;
}

.whiteBack {
  background: #fff;
}

.errorBack {
  background: #f44336;
}
